<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" sizes="any" />
    <link rel="preload" href="{% static 'styles/main.css' %}" as="style" onload="this.rel='stylesheet'" />
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
    <title>{{ event.name }} | Hikr</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/89be0f6329.js" crossorigin="anonymous"></script>
    <script src="{% static 'scripts/common.js' %}"></script>
</head>

<body class="font-body">
    <!-- Start of header -->
    <header class="z-50 top-0 bg-white mb-10 xs:mb-0"></header>
    <!-- End of header -->
    <div class="flex flex-col flex-grow">
        <main id="main" class="flex flex-col items-center justify-between flex-grow">
            <div class="flex flex-col items-center flex-grow"></div>
            <div class="px-5 w-full border-b border-shadowColor bg-gray1 sticky top-0 py-4 z-10" data-event-label="top">
                <div class="md:max-w-screen mx-auto">
                    <h1 class="overflow-ellipsis overflow-hidden font-semibold text-base leading-relaxed">
                        {{ event.name }}</h1>
                </div>
            </div>
            <div class="bg-gray1 w-full flex flex-col items-center justify-between lg:px-5 border-t border-gray2 pb-16">
                <div class="md:max-w-screen w-full bg-gray1">
                    <div class="flex flex-col-reverse lg:flex-row">
                        <div class="flex flex-col flex-grow lg:mt-5" data-event-label="body">
                            <div class="lg:max-w-2xl">
                                <div class="emrv9za" data-event-label="event-home">
                                    <div>
                                        <picture data-testid="event-description-image">
                                            <div class="w-full mt-0 lg:mt-8"><img alt="{{ event.name }}"
                                                    fetchpriority="high" width="375" height="210" decoding="async"
                                                    data-nimg="1" class="w-full" style="color:transparent"
                                                    src="{{ event.image.url }}">
                                            </div>
                                        </picture>
                                    </div>
                                    <div id="event-details" class="px-6 sm:px-4 xl:px-0 md:max-w-screen w-full mt-5">
                                        <div class="flex justify-between items-center mb-5">
                                            <h2 class="font-semibold text-xl">Details</h2>
                                        </div>
                                        <div class="break-words">
                                            <p class="mb-4">{{ event.description|safe }}</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="w-100 lg:w-90 lg:mx-0 lg:ml-28 lg:mt-10" data-event-label="info">
                            <div class="px-5 lg:px-0"></div>
                            <div class="top-24">
                                <div class="hidden lg:block">
                                    <div class="lg:p-6 bg-white rounded-2xl">
                                        <div class="flex flex-row py-4 lg:py-0 items-center ">
                                            <div class="dewqijm"><img alt="{{ event.owner.first_name }}"
                                                    data-testid="next-image" loading="lazy" width="56" height="56"
                                                    decoding="async" data-nimg="1" class="rounded"
                                                    style="color:transparent" src="{{ event.owner.avatar.url }}">
                                            </div>
                                            <div class="ml-4">
                                                <div class="text-sm font-medium leading-5">{{event.owner.first_name}}
                                                    {{event.owner.last_name}}</div>
                                                <div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="event-info" class="mt-5 text-sm">
                                    <div class="px-5 py-3 sm:pb-4.5 lg:py-5 bg-white lg:rounded-b-2xl lg:rounded-t-2xl">
                                        <div>
                                            <div>
                                                <div class="flex">
                                                    <div>
                                                        <div data-icon-c="icon-13">
                                                            <div><i class="fa-solid fa-clock fa-xl"
                                                                    style="color: #c0bfbc;"></i></div>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="pl-4 md:pl-4.5 lg:pl-5"><time class="">
                                                            {{ event.date|date:"D, M d, Y"}} · {{ event.time|date:"g:i A"}} EAT</time></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ml-10 lg:ml-11 relative" data-testid="add-to-calendar"></div>
                                            <div class="flex flex-col">
                                                <div class="flex mt-5">
                                                    <div data-icon-c="icon-2">
                                                        <div><i class="fa-solid fa-location-dot fa-2xl"
                                                                style="color: #c0bfbc;"></i></div>
                                                    </div>
                                                    <div class="pl-4 md:pl-4.5 lg:pl-5 overflow-hidden">
                                                        <div data-testid="location-name-value">{{ event.location }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="flex flex-col">
                                                <div class="flex mt-5">
                                                    <div data-icon-c="icon-2">
                                                        <div><i class="fa-solid fa-star fa-xl"
                                                                style="color: #c0bfbc;"></i></div>
                                                    </div>
                                                    <div class="pl-4 md:pl-4.5 lg:pl-5 overflow-hidden">
                                                        <div data-testid="difficulty-level">{{ event.difficulty|title }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hidden lg:block">
                                    <hr class="border-gray3 w-full my-12 md:my-6">
                                    <div class="w-[300px] h-[250px]">
                                        <div>
                                            <div class="" id="hikr_events_MREC_2"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <!-- start of footer -->
    <footer id="main_footer" class="bg-gray7 text-gray1 pt-4 z-0 mt-0" >
    </footer>
    <!-- end of footer -->
</body>

</html>