<!DOCTYPE html>
<html lang="en">

<head>
  <meta charSet="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon" sizes="any" />
  <link rel="stylesheet" href="../static/styles/main.css" />
  <link rel="stylesheet" href="../static/styles/styles.css" />
  <title>Hikr | Explore nature together!</title>
  <script src="https://kit.fontawesome.com/89be0f6329.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>

<body class="font-body">
  <!-- Logged out header -->
  <header class="z-50 top-0 bg-white mb-10 xs:mb-0" data-event-label="Header">
    <div class="px-6 sm:px-4 xl:px-4 border-b border-solid border-gray2 flex flex-col">
      <div class="transition-all ease-linear duration-300 d3hxo23 overflow-hidden sm:overflow-visible">
        <div class="flex flex-row items-center justify-between du3dmzv">
          <div class="block sm:hidden xmedia"></div>
          <div class="flex flex-row items-center space-x-10"><a id="homepage-link" href="#homelink" class="lg:pl-6"
              aria-label="Hikr logo" data-event-label="Hikr logo"><img src="../static/images/logo.png" alt="Hikr logo"
                height="3"></a>
            <div class="m1t1fice hidden gl:block xmedia">
              <form id="search-form" class="outline-none w-full">
                <div class="flex flex-row -space-x-0.5">
                  <div class="w-full hover:z-20 de68ah0">
                    <div class="relative">
                      <div class="absolute top-2.5 left-2.5" style="width: 22px; height: 22px;" data-icon-c="icon-110">
                      </div><input id="keyword-bar-in-search" type="search" name="keywords" placeholder="Search events"
                        aria-label="Search events"
                        class="appearance-none border p-2 pl-4 border-gray3 outline-none hover:border-gray6 focus:border-viridian hover:z-10 focus:z-10 iofyh9x lg:min-w-[120px] xl:min-w-[300px] rounded-l-lg flex-grow w-full rounded-r-none placeholder:text-gray6"
                        data-element-name="keyword-bar-in-search" data-event-label="Keyword search" value="">
                    </div>
                  </div>
                  <div class="transition-all ease-out duration-200 opacity-1 flex-[1_0_50%]">
                    <div class="flex flex-row -space-x-0.5">
                      <button id="location-search-submit" data-testid="location-search-submit"
                        class="relative rounded-r-lg p-2 flex flex-col items-center justify-center bqsnhz9" style="background-color: #26a269;"
                        aria-label="Search events" data-event-label="Search submit" type="submit">
                        <div id="search-button" style="width: 20px; height: 20px;">
                          <!-- search icon -->
                          <i class="fa-solid fa-magnifying-glass" style="color: whitesmoke;"></i>

                        </div>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="block sm:hidden xmedia"></div>
          <div class="sm:ml-4 hidden sm:block xmedia">
            <div class="flex flex-row space-x-5 items-center">
              <div class="gl:hidden hidden sm:block xmedia"></div>
              <a id="login-link" data-element-name="header-loginLink" data-event-label="Log in"
                class="ds-font-small-medium hover:no-underline text-gray7 hover:text-viridian" href="/login/">Log
                in</a><a id="register-link"
                class="ds-font-small-medium hover:no-underline text-gray7 hover:text-viridian s2x9qzh whitespace-nowrap justify-center"
                data-element-name="header-registerLink" data-event-label="Sign up" href="/sign-up/">Sign
                up</a>
            </div>
          </div>
        </div>
        <div class="mt-1 mb-2 pointer-events-none block gl:hidden xmedia"></div>
      </div>
    </div>
  </header>
  <!-- End of logged out header -->
  <div class="flex flex-col flex-grow z-10">
    <main id="main" class="flex flex-col items-center flex-grow relative overflow-hidden pb-12 smd:pb-16 text-gray7">
      <header class="relative w-full h-[375px] smd:h-[297px] gl:h-[572px] mb-10 md:mb-12 overflow-hidden">
        <div class="absolute top-0 right-0 bottom-0 left-0">
          <div>
            <img alt="TITLE OF EVENT" loading="lazy" width="90" height="90" decoding="async" data-nimg="1"
              class="rounded-t-lg rounded-lg w-full h-full absolute top-0 left-0 object-cover object-center group-hover:opacity-80"
              style="color:transparent" srcSet="../static/images/bg-image.jpg" />

          </div>
        </div>
        <div class="absolute w-full h-full vtszv7g"></div>
        <div
          class="relative h-full smd:max-w-[580px] gl:max-w-[880px] xl:max-w-[1192px] mx-auto grid px-4 smd:px-0 content-center">
          <div class="w-full gl:max-w-[500px]">
            <h1
              class="ds-font-title-2 text-center sm:text-left gl:font-bold gl:text-[42px] gl:leading-[3.25rem] text-white">
              Explore nature together!</h1><a
              class="p14rljdx inline-block w-full sm:w-[180px] mt-6 sm:mt-7 sm:text-xl font-medium sm:font-semibold text-center hover:no-underline"
              data-event-label="Sign up variant--Body" href="/sign-up/">Join Hikr</a>
          </div>
        </div>
      </header>
      <div class="w-full smd:w-auto">
        <div class="mb-14 smd:mb-8">
          <div class="px-4 smd:px-0 mb-2 smd:mb-6 smd:w-[580px] gl:w-[888px] xl:w-[1196px]">
            <div class="flex justify-between items-baseline">
              <h2
                class="flex flex-wrap items-baseline gap-x-1 gap-y-2 md:gap-x-2 ds-font-title-3 xl:text-[1.75rem] xl:leading-9 font-semibold">
                Upcoming Hiking Events
              </h2><a href="/events/" class="font-medium text-viridian whitespace-nowrap hidden smd:block"
                data-event-label="eventsShelf IRL-seeAll variant">See all events</a>
            </div>
          </div>
          <div class="px-0 gl:px-0 mb-2 gl:mb-10 smd:w-[580px] gl:w-[888px] xl:w-[1196px]">
            <div class="flex flex-col smd:flex-row flex-wrap gap-2 smd:gap-9 bg-gray1 smd:bg-white">


              <!-- Tile to duplicate -->
              <div data-recommendationid="" data-recommendationsource="" data-eventref="294945844"
                class="p-0 bg-clip-padding bg-cover bg-transparent relative h-full flex bg-white z-0 break-words transition-shadow duration-300 px-4 pt-6 pb-5 smd:px-0 smd:pt-0 smd:flex-row smd:justify-start smd:rounded e3uszjm">
                <a class="w-full inline cursor-pointer relative hover:no-underline group" href="#GROUP DETAIL LINK"
                  data-event-label="eventsShelf IRL-Event card variant">
                  <div class="flex w-full h-full flex-row smd:flex-col smd:flex-col-reverse">
                    <div class="space-y-2 grow pr-4 smd:mt-3">
                      <h3
                        class="text-lg leading-6 font-semibold line-clamp-4 smd:text-xl smd:leading-6 group-hover:underline h1lk27w4">
                        Event title</h3>
                      <p class="line-clamp-2 text-sm text-gray6 font-medium">Hosted by: John Doe</p>
                      <div>
                        <div class="flex items-center space-x-1.5 text-gray7">
                          <div style="width:20px;height:20px"></div>
                          <div class="flex flex-col uppercase text-sm leading-5 tracking-tight"><time title="">Sat, Sep
                              9 ·
                              8:00 AM EAT</time></div>
                        </div>
                      </div>
                      <div class="flex gap-x-4 flex-wrap gl:pt-1">
                        <div class="flex items-center space-x-1.5 text-gray7">
                          <div style="width:20px;height:20px"></div><span>8 going</span>
                        </div>
                        <div class="flex items-center space-x-1.5 text-gray7">
                          <div style="width:20px;height:20px"></div><span class="inline">Free</span>
                        </div>
                      </div>
                    </div>
                    <div class="bg-transparent ml-3 smd:ml-0 gl:mr-0 d1umy16x">
                      <div class="relative overflow-hidden bg-transparent w-full" style="height:90px"><img
                          alt="TITLE OF EVENT" loading="lazy" width="90" height="90" decoding="async" data-nimg="1"
                          class="rounded-t-lg rounded-lg w-full h-full absolute top-0 left-0 object-cover object-center group-hover:opacity-80"
                          style="color:transparent" srcSet="/static/images/event.jpg" />
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <!-- end of tile to duplicate -->
            </div>
          </div>
        </div>

        <div class="w-full px-4 smd:px-0 smd:max-w-[580px] gl:max-w-[880px] xl:max-w-[1192px]">
          <div class="mb-14 xl:mb-16">
            <h2
              class="flex flex-wrap items-baseline gap-x-1 gap-y-2 md:gap-x-2 ds-font-title-3 xl:text-[1.75rem] xl:leading-9 font-semibold mb-6">
              How Hikr works</h2>
            <div class="flex flex-col gl:flex-row gap-y-6 md:gap-x-4 xl:gap-x-8"><a
                href="#LINK TO SEARCH EVENTS AND GROUPS" data-event-label="Search events and groups-CTA variant"
                class="flex flex-1 p-6 md:pt-8 xl:pr-28 gap-6 bg-beach/[.08] rounded-lg hover:no-underline hover:bg-beach/[.12]">
                <div class="min-w-[41px]">
                  <i class="fa-solid fa-magnifying-glass fa-2xl" style="color: #26a269;"></i>
                </div>
                <div>
                  <h3 class="mb-4 text-lg leading-6 xl:text-[20px] font-semibold">Discover events and groups</h3>
                  <p class="mb-3">See events and groups near you</p><span class="text-viridian font-medium">Search
                    events and groups</span>
                </div>
              </a><a href="/" data-event-label="startAGroup-CTA variant"
                class="flex flex-1 p-6 md:pt-8 xl:pr-28 gap-6 bg-beach/[.08] rounded-lg hover:no-underline hover:bg-beach/[.12]">
                <div class="min-w-[41px]"><i class="fa-solid fa-plus fa-2xl" style="color: #26a269;"></i></div>
                <div>
                  <h3 class="mb-4 text-lg leading-6 xl:text-[20px] font-semibold">Start a group to host events
                  </h3>
                  <p class="mb-3">Create your own Hikr group, and draw fellow hikers</p><span
                    class="text-viridian font-medium">Start a group</span>
                </div>
              </a></div>
          </div>
          <div>
            <h2
              class="flex flex-wrap items-baseline gap-x-1 gap-y-2 md:gap-x-2 ds-font-title-3 xl:text-[1.75rem] xl:leading-9 font-semibold mb-4">
              Popular Groups</h2>
            <p class="w-full sm:w-3/4 mb-8 md:mb-7 text-gray6">Be part of the fastest growing groups.</p>
            <div class="flex flex-col md:flex-row space-y-8 md:space-y-0 space-x-0 md:space-x-8">
              <!-- Duplicate the tile 3 times. -->
              <div class="flex-1"><a href="#GROUP DETAIL LINK" data-event-label="Story 1 variant" target="_blank"
                  rel="noopener noreferrer" class="cursor-pointer hover:no-underline group"><img alt="" loading="lazy"
                    width="375" height="191" decoding="async" data-nimg="1"
                    class="w-full rounded-lg mb-6 group-hover:opacity-80" style="color:transparent"
                    srcSet="/static/images/group.jpg" src="/static/images/group.jpg" />
                  <h3 class="mb-3 pr-4 text-lg font-semibold">Group Name</h3>
                  <div class="mb-4 text-gray6">Created by: John Doe</div>
                </a></div>
              <!-- end of tile to duplicate -->
            </div>
          </div>
        </div>
    </main>
    <div class="sticky bottom-0 bg-white shadow w-full z-10 px-4 xl:px-0" style="bottom:-100px">
      <div
        class="smd:max-w-[580px] smd:mx-auto flex flex-col smd:items-baseline smd:flex-row smd:justify-between gl:hidden pt-3 pb-6 smd:py-6 sticky bottom-0">
        <div class="mb-3 font-semibold text-center">Join Hikr and find your community</div>
        <div><a class="p14rljdx w-full smd:min-w-[237px] text-center inline-block hover:no-underline font-medium"
            data-event-label="Sign up–sticky variant" href="/sign-up/">Sign up</a></div>
      </div>
    </div>
  </div>

  <!-- start of footer -->
  <footer id="main_footer" role="contentinfo" class="bg-gray7 text-gray1 pt-4 z-0 mt-0" data-event-label="Footer">
    <div class="px-6 sm:px-4 xl:px-0 md:max-w-screen my-0 mx-auto flex flex-col space-y-6 pb-4">
      <div class="flex flex-col sm:flex-row justify-between">
        <div class="w-1/3 mb-3">
          <h2>Your Account</h2>
          <ul>
            <li class="my-1"><a href="/sign-up/" data-element-name="footer-signUp"
                data-event-label="Sign up variant"
                class="ds-font-small hover:no-underline text-gray4 hover:text-white cursor-pointer">Sign up</a>
            </li>
            <li class="my-1"><a href="/login/" data-element-name="footer-logIn" data-event-label="Log in"
                class="ds-font-small hover:no-underline text-gray4 hover:text-white cursor-pointer">Log in</a>
            </li>
          </ul>
        </div>
        <div class="w-1/3 mb-3">
          <h2>Discover</h2>
          <ul>
            <li class="my-1"><a href="#LINK TO GROUPS" data-element-name="footer-groups" data-event-label="Groups"
                class="ds-font-small hover:no-underline text-gray4 hover:text-white cursor-pointer">Groups</a>
            </li>

            <li class="my-1"><a href="#LINK TO EVENTS" data-element-name="eventsFooterLink" data-event-label="Events"
                class="ds-font-small hover:no-underline text-gray4 hover:text-white cursor-pointer">Events</a>
            </li>
          </ul>
        </div>
        <div class="w-1/3 mb-3">
          <h2>Hikr</h2>
          <ul>
            <li class="my-1"><a href="/" data-element-name="footer-about" data-event-label="About"
                class="ds-font-small hover:no-underline text-gray4 hover:text-white cursor-pointer">About</a></li>
            <li class="my-1"><a href="/" data-element-name="footer-blog" data-event-label="Blog"
                class="ds-font-small hover:no-underline text-gray4 hover:text-white cursor-pointer">Blog</a></li>
          </ul>
        </div>
        <div class="w-1/3 mb-3">
          <h2>Follow Us</h2>
          <ul>
            <li class="my-1"><a href="https://www.github.com/evanceodoyo/hikr" data-element-name="follow-us"
                data-event-label="FollowUs"
                class="ds-font-small hover:no-underline text-gray4 hover:text-white cursor-pointer"><i
                  class="fa-brands fa-github fa-xl"></i></a></a></li>
          </ul>
        </div>
      </div>

      <div class="flex justify-center items-center">
        <span class="text-white">© 2023 Hikr</span>
      </div>

    </div>
  </footer>
  <!-- end of footer -->
</body>

</html>