<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" sizes="any" />
    <link rel="preload" href="{% static 'styles/main.css' %}" as="style" onload="this.rel='stylesheet'" />
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
    <title> Hikr | Explore nature together!</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/89be0f6329.js" crossorigin="anonymous"></script>
    <script src="{% static 'scripts/common.js' %}"></script>
    <script src="{% static 'scripts/auth.js' %}"></script>
    <style>
        @keyframes fadeIn {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        .animate-fade-in {
            animation: fadeIn 2s ease-in-out;
        }

        .custom-responsive-text {
            white-space: normal;
        }

        .text-justify {
            text-align: justify;
            text-justify: inter-word;
        }

        .centered-content-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    </style>

</head>

<body class="font-body centered">
    <!-- Start of header -->
    <header class="z-50 top-0 bg-white mb-10 xs:mb-0">
    </header>
    <!-- End of header -->
    <div id="succ-toast" class="toast hidden success-toast"></div>
    <div class="flex flex-col flex-grow z-10">
        <main id="main"
            class="flex flex-col items-center flex-grow relative overflow-hidden pb-12 smd:pb-16 text-gray7">
            <!-- Start of intro section -->
            <div
                class="relative w-full h-[375px] smd:h-[297px] gl:h-[572px] mb-10 md:mb-12 overflow-hidden  centered-content-container">
                <div class="absolute top-0 right-0 bottom-0 left-0">
                    <div>
                        <img alt="background image" loading="lazy" width="90" height="90" decoding="async"
                            class="rounded-t-lg rounded-lg w-full h-full absolute top-0 left-0 object-cover object-center group-hover:opacity-80"
                            style="color:transparent" src="{% static 'images/bg-image.jpg' %}" />

                    </div>
                </div>
                <div class="absolute w-full h-full vtszv7g"></div>
                <div
                    class="relative h-full smd:max-w-[580px] gl:max-w-[880px] xl:max-w-[1192px] mx-auto grid px-4 smd:px-0 content-center">
                    <div class="w-full gl:max-w-[500px]">
                        <h1 class="text-center sm:text-left font-bold text-white text-4xl animate-fade-in  centered-content-container"
                            style="font-size: 80px;">
                            Hikr</h1>
                        <div style="margin-bottom: 5%;"></div>
                        <h3 class="text-center sm:text-left text-white text-2xl">
                            Exploring nature is great, but it is better 
                            and more fun when done together</h3>
                        <a class="p14rljdx inline-block w-[190px] mt-6 sm:mt-7 sm:text-xl font-medium sm:font-semibold text-center hover:no-underline"
                            href="/">Join the community</a>
                    </div>
                </div>
            </div>
            <!-- End of intro section -->
            <div class="w-full smd:w-auto">
                <div style="margin-bottom: 5%;"></div>
                <div class="mb-14 smd:mb-8">
                    <div style="margin-bottom: 8%;"></div>
                    <div class="flex justify-between items-baseline centered-content-container">
                        <h2
                            class="flex flex-wrap items-baseline gap-x-1 gap-y-2 md:gap-x-2 ds-font-title-3 xl:text-[1.75rem] xl:leading-9 font-semibold">
                            Features
                        </h2>
                    </div>
                </div>
                <div class="px-0 gl:px-0 mb-2 gl:mb-10 smd:w-[580px] gl:w-[888px] xl:w-[1196px]">
                    <div class="flex flex-col smd:flex-row flex-wrap gap-2 smd:gap-9 bg-gray1 smd:bg-white">
                        <div class="flex-1"><a href="about" target="_blank" rel="noopener noreferrer"
                                class="cursor-pointer hover:no-underline group"><img alt="API image" loading="lazy"
                                    width="375" height="191" decoding="async"
                                    class="w-full rounded-lg mb-6 group-hover:opacity-80" style="color:transparent"
                                    src="../static/images/api.jpg" />
                                <h3 class="mb-3 pr-4 text-lg font-semibold">API</h3>
                                <div class="mb-4 text-gray6">
                                    This API provides endpoints for managing users, groups, and events, allowing users
                                    to register, authenticate, create, and interact with groups and events. It also
                                    supports user sessions and logout functionality using the Knox authentication
                                    framework.</div>
                            </a></div>
                        <div class="flex-1"><a href="{% url 'groups' %}" target="_blank" rel="noopener noreferrer"
                                class="cursor-pointer hover:no-underline group"><img alt="API image" loading="lazy"
                                    width="375" height="100" decoding="async"
                                    class="w-full rounded-lg mb-6 group-hover:opacity-80" style="color:transparent"
                                    src="../static/images/group.jpg" />
                                    <br><br>
                                <h3 class="mb-3 pr-4 text-lg font-semibold">Join Groups</h3>
                                <div class="mb-4 text-gray6">Join Hikr and find a community of people who share the same
                                    interests as you. Become a member now and enjoy the benefits of exploring nature
                                    while at the safety of a group of fellow hikers and nature enthusiasts.</div>
                            </a></div>
                        <div class="flex-1"><a href="{% url 'events' %}" target="_blank" rel="noopener noreferrer"
                                class="cursor-pointer hover:no-underline group"><img alt="API image" loading="lazy"
                                    width="375" height="191" decoding="async"
                                    class="w-full rounded-lg mb-6 group-hover:opacity-80" style="color:transparent"
                                    src="../static/images/event.jpg" />
                                <h3 class="mb-3 pr-4 text-lg font-semibold">Join Events</h3>
                                <div class="mb-4 text-gray6">Join events near you any time and get to explore nature
                                    together. Be a nature explorer today! Never worry whether a beginner or an expert
                                    hiker, there's always an event that perfectly fits you.</div>
                            </a></div>
                    </div>
                </div>
                <div class="w-full px-4 smd:px-0 smd:max-w-[580px] gl:max-w-[880px] xl:max-w-[1192px]">
                    <div class="mb-14 xl:mb-16">
                        <h2
                            class="flex flex-wrap items-baseline gap-x-1 gap-y-2 md:gap-x-2 ds-font-title-3 xl:text-[1.75rem] xl:leading-9 font-semibold mb-6 centered-content-container">
                            How Hikr works</h2>
                        <div class="flex flex-col gl:flex-row gap-y-6 md:gap-x-4 xl:gap-x-8"><a href="#search-form"
                                data-event-label="Search events and groups-CTA variant"
                                class="flex flex-1 p-6 md:pt-8 xl:pr-28 gap-6 bg-beach/[.08] rounded-lg hover:no-underline hover:bg-beach/[.12]">
                                <div class="min-w-[41px]">
                                    <i class="fa-solid fa-magnifying-glass fa-2xl" style="color: #26a269;"></i>
                                </div>
                                <div>
                                    <h3 class="mb-4 text-lg leading-6 xl:text-[20px] font-semibold">Discover events and
                                        groups</h3>
                                    <p class="mb-3">See events and groups near you</p><span
                                        class="text-viridian font-medium">Search
                                        events and groups</span>
                                </div>
                            </a><a href="/" data-event-label="startAGroup-CTA variant"
                                class="flex flex-1 p-6 md:pt-8 xl:pr-28 gap-6 bg-beach/[.08] rounded-lg hover:no-underline hover:bg-beach/[.12]">
                                <div class="min-w-[41px]"><i class="fa-solid fa-plus fa-2xl"
                                        style="color: #26a269;"></i></div>
                                <div>
                                    <h3 class="mb-4 text-lg leading-6 xl:text-[20px] font-semibold">Start a group to
                                        host events
                                    </h3>
                                    <p class="mb-3">Create your own Hikr group, and draw fellow hikers</p><span
                                        class="text-viridian font-medium">Start a group</span>
                                </div>
                            </a></div>
                    </div>
                    <div
                        class="px-4 smd:px-0 mb-2 smd:mb-6 smd:w-[580px] gl:w-[888px] xl:w-[1196px] centered-content-container">
                        <h2
                            class="flex flex-wrap items-baseline gap-x-1 gap-y-2 md:gap-x-2 ds-font-title-3 xl:text-[1.75rem] xl:leading-9 font-semibold mb-6" id="about-section">
                            About Us</h2>
                        <div class="bg-beach/[.08] rounded-lg hover:no-underline hover:bg-beach/[.12] text-justify"
                            style="padding-bottom: 10%;">
                            <div class="rounded-lg p-8 sm:p-12 relative z-10">
                                <div class="mb-4 text-gray6 text-lg">
                                    Exploring nature is great, but it is better and fun when done together. Having
                                    identified that there is a need to build a community of people with shared interests
                                    and safety when it comes to outdoor activities like hiking, we decided to build
                                    Hikr. Hikr is here to connect hikers to fellow hikers so that they can plan, link
                                    up, and explore nature as one hiking tribe. Moreover, it is safer to venture
                                    outdoors together. Hikr makes it easy to connect, socialize and keep fit while in
                                    the safety of a communit.
                                </div>
                                <div class="mb-4 text-gray6 text-lg">
                                    This project was built in two weeks by Evance Odoyo and Stacy Gakiria,
                                    software engineering students at ALX Software Engineering program. It is our
                                    submission as the end of foundations Portfolio Project.
                                </div>
                                <div class="flex flex-col sm:flex-row justify-between">

                                    <div class="w-1/3 mb-3">
                                        <h2 class="text-center">Evance Odoyo</h2>
                                        <ul class="text-center">
                                            <li class="my-1"><a href="https://www.github.com/evanceodoyo/"
                                                    class="ds-font-small hover:no-underline text-gray4 hover:text-gray7 cursor-pointer"><i
                                                        class="fa-brands fa-github fa-xl"
                                                        style="color: #000000;"></i></i></a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="w-1/3 mb-3">
                                        <h2 class="text-center">Stacy Gakiria</h2>
                                        <ul class="text-center">
                                            <li class="my-1"><a href="https://www.github.com/SKgakiria/"
                                                    class="ds-font-small hover:no-underline text-gray4 hover:text-white cursor-pointer"><i
                                                        class="fa-brands fa-github fa-xl"
                                                        style="color: #000000;"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="absolute top-0 left-0 w-full h-full rounded-lg pointer-events-none">
                            </div>
                        </div>
                    </div>
        </main>
        <div class="sticky bottom-0 bg-white shadow w-full z-10 px-4 xl:px-0" style="bottom:-100px">
            <div
                class="smd:max-w-[580px] smd:mx-auto flex flex-col smd:items-baseline smd:flex-row smd:justify-between gl:hidden pt-3 pb-6 smd:py-6 sticky bottom-0">
                <div class="mb-3 font-semibold text-center">Join Hikr and find your community</div>
                <div><a class="p14rljdx w-full smd:min-w-[237px] text-center inline-block hover:no-underline font-medium"
                        data-event-label="Sign up–sticky variant" href="/sign-up/">Sign up</a></div>
            </div>
        </div>
    </div>

    <!-- start of footer -->
    <footer id="main_footer" class="bg-gray7 text-gray1 pt-4 z-0 mt-0">
    </footer>
    <!-- end of footer -->
</body>

</html>