<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" sizes="any" />
    <link rel="preload" href="{% static 'styles/main.css' %}" as="style" onload="this.rel='stylesheet'" />
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
    <title>{{ group.name }} | Hikr</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/89be0f6329.js" crossorigin="anonymous"></script>
    <script src="{% static 'scripts/common.js' %}"></script>
    <script src="{% static 'scripts/auth.js' %}"></script>
</head>

<body class="font-body">
    <!-- Start of header -->
    <header class="z-50 top-0 bg-white mb-10 xs:mb-0"></header>
    <!-- End of header -->
    <div class="flex-grow flex flex-col items-center w-full" id="top">
        <main id="main" class="flex flex-col w-full">
            <div class="flex flex-col space-y-1"></div>
            <div>
                <section
                    class="flex flex-col md:flex-row items-stretch justify-center lg:justify-between space-y-4 md:space-y-0 mx-auto mb-5 mt-0 pt-5 max-w-[1100px] md:px-5">
                    <div class="md:max-w-[600px] relative w-full md:w-3/5 md:pr-6"><img alt="" fetchpriority="high"
                            loading="eager" width="600" height="100" decoding="async" class="md:rounded-lg object-cover object-center aspect-video w-full"
                            style="color:transparent" src="{{ group.image.url }}" />
                    </div>
                    <div class="flex flex-col justify-between space-y-2 w-full md:w-2/5 px-4 md:px-0">
                        <div><a id="group-name-link" href="#top" data-event-label="group-name-link"
                                class="hover:no-underline" data-event-category="GroupHome">
                                <h1 class="font-extrabold text-3xl">{{ group.name }}</h1>
                            </a>
                            <div class="mt-5"></div>
                            <div class="flex flex-col space-y-1">
                                <div class="flex flex-row space-x-1.5 items-center">
                                    <i class="fa-solid fa-location-dot fa-xl"
                                    style="color: #c0bfbc;"></i>
                                    <div class="w-2 h-6">
                                        <div></div>
                                    </div>
                                    <div class="text-xl">{{ group.location }}</div>
                                    </a>
                                </div>
                                <div class="flex flex-row space-x-1.5 items-center text-sm">
                                    <i class="fa-solid fa-user-group fa-xl" style="color: #c0bfbc;"></i>
                                    <div class="w-1 h-6">
                                        <div></div>
                                    </div>
                                    <div class="flex flex-row space-x-1.5 items-center text-xl">
                                        <div>{{ group.members.count }} member{{ group.members.count|pluralize}}</div>
                                        </a>
                                    </div>
                                </div>
                                <div class="flex flex-row space-x-1.5 items-center">
                                    <i class="fa-regular fa-user fa-xl" style="color: #c0bfbc;"> </i>
                                    <div class="w-2 h-6">
                                        <div></div>
                                    </div>
                                    <a id="organizer-name-link" data-event-label="organizer-name-link"
                                        class="text-xl hover:no-underline"><span>Organized by <b class="font-semibold">
                                                {{ group.owner.first_name }} {{ group.owner.last_name }}</b></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div style="top:64px" class="border-t border-gray3 py-2 flex flex-col items-center bg-white sticky z-20">
                <div class="flex flex-row items-center w-full max-w-[1100px] space-x-0 px-5">
                    <div class="relative w-full md:w-3/5 md:pr-3 LinksTab_scroll__HwJbk">
                        <div class="LinksTab_left__QYp3t opacity-0"></div>
                        <div>
                            <ul class="flex flex-row space-x-10 text-gray7 LinksTab_scroll__HwJbk">
                                <li><a class="hover:no-underline whitespace-nowrap flex flex-row items-center text-viridian">Description</a></li>
                            </ul>
                        </div>
                    </div>
                    {% if request.user.is_authenticated and membership %}
                    <div
                    class="flex-row space-x-3 md:flex whitespace-nowrap w-full md:w-2/5 px-4 md:px-0 min-h-[40px]">
                    <form method="post" action="{% url 'leave-group' group.id %}">
                        {% csrf_token %}
                        <button class="w-full sm:w-auto whitespace-nowrap text-center relative leave-button">Leave
                        this group</button>
                    </form>
                </div>
                    {% else %}
                    <div
                        class="flex-row space-x-3 md:flex whitespace-nowrap w-full md:w-2/5 px-4 md:px-0 min-h-[40px]">
                        <form method="post" action="{% url 'join-group' group.id %}">
                            {% csrf_token %}
                            <button class="w-full sm:w-auto whitespace-nowrap text-center relative p14rljdx">Join
                                this group</button>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div id="submain" class="bg-gray1 flex flex-col px-4 md:px-0 pb-8">
                <div
                    class="flex flex-col md:flex-row md:px-5 space-y-8 md:space-y-0 max-w-[1100px] w-full self-center pt-10 md:justify-between">
                    <div class="md:max-w-[600px] relative w-full md:w-3/5 md:pr-6 flex flex-col space-y-8">
                        <div class="w-full">
                            <div class="relative overflow-hidden h-auto d1qnntw">
                                <div class="h-6 w-full absolute bottom-0 d18425ul"></div>
                                <div inert="" class="break-words utils_description__CKf99">
                                    <p>{{ group.description|safe }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <!-- start of footer -->
    <footer id="main_footer"  class="bg-gray7 text-gray1 pt-4 z-0 mt-0" >
    </footer>
    <!-- end of footer -->
</body>

</html>